// COLORS

$color-white: #EAEEF0;
$color-black: #111;

$color-primary: #252043;
$color-secondary: #5B71AB;
$color-tertiary: #777091;
$color-quaternary: #828BA1;

$color-correctAnswer: #58b067;
$color-wrongAnswer: #ff4d4d;

$color-challenge-header-bkg: #dcdcdc;
$color-challenge-content-bkg: #e9e9e9;



// FONT 

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;

// Padding

$padding: 0 4rem;

