.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: ( minmax(290px, 1fr) )[auto-fit];
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
    margin: 3rem;
    grid-gap: 3rem;

    @include respond(phone) { 
        -ms-grid-column-align: center;
        justify-items: center;
    }
   //  margin: 0 auto;

   //  @include respond(tab-port) { // width < 900
   //      grid-template-columns: 1fr 1fr;
   //      max-width: 70rem;
   //   }

   //   @include respond(phone) { // width < 900
   //      grid-template-columns: 1fr;
   //   }

    
}
