.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
    grid-gap: 3rem;

    @include respond(phone) { 
        justify-items: center;
    }
   //  margin: 0 auto;

   //  @include respond(tab-port) { // width < 900
   //      grid-template-columns: 1fr 1fr;
   //      max-width: 70rem;
   //   }

   //   @include respond(phone) { // width < 900
   //      grid-template-columns: 1fr;
   //   }

    
}

.grid-container {
    @include explorer() {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
}
